# Minimal bblayers for medtech image on GitHub-hosted runners
BBLAYERS ?= " \
  ${TOPDIR}/../poky/meta \
  ${TOPDIR}/../poky/meta-poky \
  ${TOPDIR}/../meta-openembedded/meta-oe \
  ${TOPDIR}/../meta-openembedded/meta-python \
  ${TOPDIR}/../meta-openembedded/meta-networking \
  ${TOPDIR}/../meta-qt6 \
  ${TOPDIR}/../meta-medtech \
"

# Keep the layer set intentionally tight to reduce clone/build footprint.
# Do not add meta-yocto-bsp or unrelated meta-openembedded sublayers unless required.

BBLAYERS_NON_REMOVABLE ?= " \
  ${TOPDIR}/../poky/meta \
  ${TOPDIR}/../poky/meta-poky \
"
