[Unit]
Description=MedTech Clinician UI
Wants=network-online.target
After=network-online.target medtech-edge-analytics.service

[Service]
Type=simple
ExecStart=/opt/medtech/clinician-ui/clinician-ui
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=clinician-ui
EnvironmentFile=/etc/medtech/clinician-ui.env
User=root

[Install]
WantedBy=multi-user.target
