[Unit]
Description=MedTech Edge Analytics
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/medtech/edge-analytics
Type=simple
ExecStart=/usr/bin/python3 -m src
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=edge-analytics
EnvironmentFile=/etc/medtech/edge-analytics.env
User=root

[Install]
WantedBy=multi-user.target
